.app .submitted-terms .table-container {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	min-height: calc(100vh - 112.8px);
	padding: 24px;
}

.app .submitted-terms .table {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 12px;
}

.app .submitted-terms .table .p-datatable {
	width: 100%;
}

.app .submitted-terms .table .comments{
	background: transparent;
	color: #2196F3;
	border: 1px solid #2196F3;
}

.app .submitted-terms .table .comments:enabled:hover{
	background: #2196F3;
	color: #fff;
}

.app .submitted-terms .table .comments:enabled:focus{
	background: #2196F3;
	color: #fff;
}